body {
  background-image: url("images/bg4.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: "Arial", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #dc3545;
}

.carousel-container {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  background: #fff;
  border: 2px solid #dc3545;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-caption p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 600px) {
  .carousel-container {
    max-width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
